header {
  text-align: center;
  color: white;
  align-items: center;
  font-size: 50px;
  padding-left: 50%;
  display: flex;
}
body {
  background: inherit;
  width: 100vw;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    border-radius: 30px;
    padding: 20px;
}
