.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addw-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label-left {
  text-align: left;
}

.label-right {
  justify-content: right;
}

.add-w-input {
  margin-top: -15px;
  margin-bottom: 10px;
}

/* .date-range-picker-container {
  margin-top: -15px;
  margin-bottom: 20px;
} */

#add-w-save-b {
  color: inherit;
  background: #e0a4ed;
  width: 100%;
}

/* .add-wallet-form .MuiFormControl-root {
  width: 100%;
}

.add-wallet-form .MuiButton-root {
  width: 100%;
  margin-top: 10px;
} */
