.title {
  color: white;
  font-size: xx-large;
}

.outlined-adornment-amount {
  color: black;
}

.outlined-required {
  width: 250px;
}

.input-field {
  text-align: center;
}

.his-card {
  margin-top: 20px;
}
