#sign-up-header, form {
  text-align: center;
}

#sign-up-header {
  margin-bottom: 20px;

}

.signup-container {
  padding-top: 50px;
  text-align: center;
  height: 100vh;
}

input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  gap: 5px;

  width: 545px;
  height: 44px;background: #ffffff;
  /* Main Colors/Gray/2 */

  border: 1.5px solid #646464;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 5px;
  gap: 10px;

  width: 545px;
  height: 36px;
  margin-top: 10px;
  margin-bottom: -10px;
  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  font-weight: bold;
  color: white;
}

header {
  color: #ffffff;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: -40px;
}

.password-container {
  width: 400px;
  position: relative;
}

#fa-eye {
  position: absolute;
  top: 28%;
  left: 130%;
  cursor: pointer;
  color: lightgray;
}

button[type='submit'] {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 16px;
  gap: 5px;
  margin: 50px;

  /* position: absolute; */
  width: 249px;
  height: 48px;
  left: 739px;
  top: 616px;

  background: #ffd600;
  border-radius: 30px;
}

.signin-link {
  margin-top: 0;
}

.signin-link > p[type='button'] {
  color: #322a95;
}
