input {
    /* Placeholder */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px;
    gap: 5px;

    width: 545px;
    height: 44px;

    /* White */

    background: #FFFFFF;
    /* Main Colors/Gray/2 */

    border: 1.5px solid #646464;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

label {
    /* Label */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 5px;
    gap: 10px;

    width: 545px;
    height: 36px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-weight: bold;
}

header {
    color: #FFFFFF;
    font-weight: bold;
    font-size: xx-large;
}
.password-container{
    width: 400px;
    position: relative;
}

#fa-eye{
    position: absolute;
    top: 28%;
    left: 130%;
    cursor: pointer;
    color: lightgray;
}

button[type = "submit"] {
    /* Buttons */


    /* Auto layout */

    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 5px;
    margin: 50px;

    /* position: absolute; */
    width: 249px;
    height: 48px;
    left: 739px;
    top: 616px;

    background: #FFD600;
    border-radius: 30px;
}

.signup-link>p[type ="button"]{
    color: #322A95;
}