.transaction-card-container {
  height: auto;
}

.MuiInputLabel-root {
  text-align: left;
}

.MuiOutlinedInput-root {
  height: 40px;
  background-color: white;
  text-align: left;
}

label {
  margin-top: auto;
}

#title-transaction {
  display: flex; /* Use flexbox to create an inline layout */
  align-items: center;
  justify-content: left;
}

#title-transaction .MuiTypography-root {
  margin-right: 10px; /* Add some spacing between the components */
  text-align: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

#transaction-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 16px;
  gap: 5px;
  margin: 20px auto;
  width: 249px;
  height: 48px;
  background: #ffd600;
  border-radius: 30px;
}