.my-2 {
    background-color: white;
    /* border-radius: 40; */
    color: black;
    border: 1.5px solid white;
    border-radius: 40px;
}
/* .small-gap{
    background-color: white;
    color: black;
}

.big-gap {
    background-color: blue;
    color: black;
} */